<div class="container">
    <div class="container-header">
        <h2>{{title}}</h2>
        <h3 class="container-date">Posted by {{user.username}} on {{format_date date_created}}</h3>
    </div>
    <div class="container-content">
        <p>{{content}}</p>
    </div>
</div>